:root {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

p {
    margin: 0;
    white-space: nowrap;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.purple {
    color: #c586c0;
}

.light-blue {
    color: #9cdcfe;
}

a,
.orange {
    color: #ce9178;
}

.blue {
    color: #569cd6;
}

.light-green {
    color: #4ec9b0;
}

.yellow {
    color: #dcdcaa;
}

.green {
    color: #b5cea8;
}

.gray {
    color: #808080;
}

.new-line::after {
    content: ' ';
    display: block;
    white-space: pre;
}

[class^='indent']::before {
    white-space: pre;
}

.indent1::before {
    content: '    ';
}

.indent2::before {
    content: '        ';
}

.indent3::before {
    content: '            ';
}

.indent4::before {
    content: '                ';
}

.indent5::before {
    content: '                    ';
}

.indent6::before {
    content: '                        ';
}
