.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.h1 {
  margin: 0 0 0.5rem;
  line-height: 1;
}

.h1::before {
  content: "ASGB";
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 0.125rem solid var(--foreground);
  display: inline-block;
}

.nav {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--foreground);
}

@media (max-width: 33.5rem) {
  .h1::before {
    display: none;
  }
}

@media (min-width: 41.5625rem) {
  .main {
    margin: 0 5rem;
  }
}
