.binder {
  display: flex;
  justify-content: space-between;
  flex: 100%;
}

.binderName {
  margin-right: 1rem;
}

.sets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0;
}

.set {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-left: 1rem;
}

.setInfoContainer {
  margin-right: auto;
}
