.button {
  margin-left: 1rem;
}

.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 0;
  padding: 0;
  gap: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
